ExaUnityProject/Library/
ExaUnityProject/Logs/shadercompiler-UnityShaderCompiler.exe-0.log
ExaUnityProject/Logs/
ExaUnityProject/Temp/
ExaUnityProject/UserSettings/
ExaUnityProject/obj/
ExaUnityProject/.idea/
ExaUnityProject/Assembly-CSharp.csproj
ExaUnityProject/Assembly-CSharp-Editor.csproj
ExaUnityProject/ExaUnityProject.sln
*.csproj
